@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('./assets/Inter-Regular.woff2')
}
body {
    font-family: 'Inter';
    color: white;
    background-color: #1e1e1e;
    position: absolute;
    left: 0;
    top: 0;
    padding: 50px;
    user-select: none;
}